{
  "parserOptions": { 
    "ecmaVersion": 8 
  },
  "env": {
    "browser": true,
    "node": false,
    "es6": true
  },
  "rules": {
    "brace-style": 0,
    "consistent-this": 0,
    "func-style": 0,
    "no-var": 0,
    "one-var": 0
  },
  "globals": {
    "Handlebars": false
  }
}
