<article class="c-modal js-show-cards-modal" data-target="js-show-cards-modal" data-route="{{route}}">
    <button type="button" class="c-action c-action--symbol js-modal-close c-modal__close">
        <span class="material-icons mi_bold" aria-hidden="true" aria-label="Close">close</span>
    </button>
    <section class="js-show-card-modal-content">
    </section>
    <footer class="l-text-actions">
        <button type="button" class="c-action js-modal-close h-modal__footer-buttons">Cancel</button>
        <button type="button" class="c-action c-action--raised js-delete-company h-modal__footer-buttons">Delete company</button>
    </footer>
</article>
