<article class="c-modal js-show-cards-modal" data-target="js-show-cards-modal" data-route="{{route}}">
    <section class="c-modal__section js-show-card-modal-content">
    </section>
    <footer class="c-modal__footer l-text-actions">
        <button
        	type="button"
        	class="c-action c-action--raised h-modal__footer-buttons{{#if presentor}} js-next-card{{else}} js-start-round{{/if}}"><span class="c-action__text js-action-text">{{#if presentor}}Next Card{{else}}Next Round{{/if}}</span><span class="c-action__alt">Cancel</span>
        </button>
    </footer>
</article>
