/**
 * Actions
 */

.c-action {
    display: inline-block;
    color: $color-blue-grey;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    line-height: 1;
    outline: none;
    cursor: pointer;
    border: none;
    border-radius: 0;
    box-shadow: none;
    transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
    min-width: 150px;
    padding: 1rem;
    background: none;

    &:hover {
        color: $color-blue-grey-800;
    }

    &:focus:active,
    &:active {
        color: $color-blue-grey-50;
        background-color: $color-blue-grey-800;
    }

    &:disabled {
        color: $color-blue-grey-100;
        cursor: not-allowed;
    }

    &.is-danger {
        color: $color-deep-orange;

        &:hover {
            color: $color-deep-orange-800;
        }

        &:focus:active,
        &:active {
            color: $color-deep-orange-50;
            background-color: $color-deep-orange-800;
        }
    }

    &.is-counting-down {
        &:hover {
            .c-action__text {
                display: none;
            }
            .c-action__alt {
                display: inline;
            }
        }
    }

    @include media-min($media-small) {
        margin-right: 0.5em;
        padding: $base-grid-width;
    }
}

.c-action__alt {
    display: none;
}

.c-action--symbol {
    min-width: 0;

    @include media-min($media-small) {
        font-size: 1.2rem;
        margin-right: 0.5em;
    }
}

.c-action--input-add-on {
    margin-right: 0;
    margin-left: 1rem;
    min-width: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: $base-line-height * 0.125;
    padding-bottom: $base-line-height * 0.125;
    margin-bottom: $base-line-height * 0.25;

    &:focus:active {
        color: $color-blue-grey-800;
        background-color: rgba(0, 0, 0, 0.5)
    }
}

.c-action--raised {
    margin: $base-grid-width * 0.5;
    background-color: $color-blue-grey-50;
    box-shadow: $box-shadow-zdepth-1;

    @include media-min($media-small) {
        margin: $base-grid-width;
    }

    &:hover {
        color: $color-blue-grey-50;
        background-color: $color-blue-grey-500;
    }

    &:focus:active {
        color: $color-blue-grey-50;
        background-color: $color-blue-grey-800;
        box-shadow: $box-shadow-zdepth-3;
    }

    &:disabled {
        color: $color-blue-grey-100;
        background-color: $color-white;
        border: $surface-border-2 solid $color-blue-grey-100;
        box-shadow: none;
        cursor: not-allowed;
    }

    &.is-danger {
        color: $color-deep-orange-500;
        background-color: $color-deep-orange-50;

        &:hover {
            color: $color-deep-orange-50;
            background-color: $color-deep-orange-500;
        }

        &:focus:active {
            color: $color-deep-orange-50;
            background-color: $color-deep-orange-800;
        }
    }
}

.t-actions {
    max-width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;

    @include media-min($media-small) {
        display: block;
    }
}

.l-actions {
    text-align: center;
}
