/**
 * Main Container
 */
.c-main {
	text-align: center;
}

.l-main-wrapper {
    margin: 0;
}

.l-main-content__wrap {
    width: 90%;
    margin: 0 auto;

    @include media-min($media-small) {
        width: 100%;
        max-width: $media-small;
    }
}

.l-main-content__wrap--full {
    width: 100%;
}

.c-main__image {
    display: block;
    margin: 0 auto;
}